<div class="container mx-auto px-4 py-6 text-center">
  <h2 class="text-3xl font-bold text-gray-100 mb-4">Bienvenido a Superheroes INC</h2>

  <div class="flex justify-center items-center">
    <img src="/img/logo.png" alt="Logo de Superheroes Inc" class="max-w-xs h-auto mb-6 hover:scale-125 hover:rotate-6 transform transition-transform duration-500">
  </div>
  
  <p class="text-gray-100 mb-6">
    Somos una organización de recopilación de datos de superheroes
  </p>

  

  <a href="/superheroes" class="bg-blue-500 text-white px-6 py-3 rounded shadow hover:bg-blue-700">
    Ir al Dashboard
  </a>
</div>