<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>My website</title>
    </head>
    
    <body>
        <%- include('partials/header')%> <!--Incluye el encabezado-->
        <main>
            <h2>Welcome to my website</h2>
            <p>Aquí vas a encontrar nuestros productos y servicios</p>
        </main>
    </body>

</html>