body {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
  }
  .min-h-screen { /* Para asegurar el footer al final */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1; /* Para que el contenido crezca y empuje el footer hacia abajo */
  }